<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adele Tribute</title>
</head>

<body>
    <h1>Adele Tribute Page</h1>
    <p>Adele Laurie Blue Adkins MBE (/əˈdɛl/; born 5 May 1988), is an English singer-songwriter. After graduating from
        the BRIT School in 2006, Adele signed a recording contract with XL Recordings. In 2007, she received the Brit
        Awards Critics' Choice Award and won the BBC Sound of 2008 poll. Her debut album, 19, was released in 2008. It
        is certified 8× platinum in the UK and triple platinum in the US. The album contains her first song, "Hometown
        Glory", written when she was 16, which is based on her home suburb of West Norwood in London. An appearance she
        made on Saturday Night Live in late 2008 boosted her career in the US. At the 2009 Grammy Awards, Adele won the
        awards for Best New Artist and Best Female Pop Vocal Performance.</p>
    <p>With sales of over 120 million records, Adele is one of the world's best-selling music artists. Her accolades
        include fifteen Grammy Awards and nine Brit Awards. In 2011, 2012, and 2016, Billboard named her Artist of the
        Year. At the 2012 and 2016 Ivor Novello Awards, Adele was named Songwriter of the Year by the British Academy of
        Songwriters, Composers, and Authors. In 2012, she was listed at number five on VH1's 100 Greatest Women in
        Music. Time magazine named her one of the most influential people in the world in 2012 and 2016. Her third tour,
        saw her break attendance records globally, including in the UK, Australia, and the US, and her album 21 has been
        listed in Rolling Stone's 500 Greatest Albums of All Time (2020).</p>
    <a href="https://en.wikipedia.org/wiki/Adele">go to Adele wiki</a>

    <h2>Album: 19</h2>
    <p>19 is the debut studio album by English singer-songwriter Adele. It was released on 28 January 2008, through XL
        Recordings. Following Adele's graduation from the BRIT School in April 2006, she began publishing songs and
        recorded a three-song demo for a class project and gave it to a friend, who posted the demo on Myspace, where it
        became very successful and led to interest from the record label. This led to Adele signing a recording contract
        at age 17 with the label and providing vocals for Jack Peñate, during this session for Peñate's song she met
        producer Jim Abbiss, who would go on to produce the majority of her debut album.</p>
    <a href="https://open.spotify.com/album/59ULskOkBMij4zL8pS7mi0">listen to album 19</a>

    <h2>Album: 21</h2>
    <p>21 is the second studio album by English singer-songwriter Adele. It was released on 24 January 2011 in Europe
        and on 22 February 2011 in North America by XL Recordings and Columbia Records. The album was named after the
        age of the singer during its production. 21 shares the folk and Motown soul influences of her 2008 debut album
        19, but was further inspired by the American country and Southern blues music to which she had been exposed
        during the North American leg of her 2008–09 tour An Evening with Adele. Composed in the aftermath of the
        singer's separation from her then partner, the album typifies the near dormant tradition of the confessional
        singer-songwriter in its exploration of heartbreak, introspection, and forgiveness.</p>
    <a href="https://open.spotify.com/album/0Lg1uZvI312TPqxNWShFXL">listen to album 21</a>

    <h2>Album: 25</h2>
    <p>25 is the third studio album by English singer-songwriter Adele, released on 20 November 2015 by XL Recordings
        and Columbia Records. Issued nearly five years after her previous album, the internationally successful 21
        (2011), the album is titled as a reflection of her life and frame of mind at 25 years old and is termed a
        "make-up record". Its lyrical content features themes of Adele "yearning for her old self, her nostalgia", and
        "melancholia about the passage of time" according to an interview with the singer by Rolling Stone, as well as
        themes of motherhood and regret. In contrast to Adele's previous works, the production of 25 incorporated the
        use of electronic elements and creative rhythmic patterns, with elements of 1980s R&B and organs. Like when
        recording 21, Adele worked with producer and songwriter Paul Epworth and Ryan Tedder, along with new
        collaborations with Max Martin and Shellback, Greg Kurstin, Danger Mouse, the Smeezingtons, Samuel Dixon, and
        Tobias Jesso Jr.</p>
    <a href="https://open.spotify.com/album/3AvPX1B1HiFROvYjLb5Qwi">listen to album 25</a>
</body>

</html>
